.contactHeader {
  display: flex;
  background-image: url(../img/contact.jpg);
  height: 100vh;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  h2 {
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    position: relative;
    z-index: 99;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
  }
}
